@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.1s;
}

body {
  background: var(--cor-5);
  --cor-1: #ff401f;
  --cor-2: #e80c57;
  --cor-3: #e401ff;
  --cor-4: #6d0ce8;
  --texto: #e5dff0;
  --cinza: #928ba3;
  --cor-5: #191920;
  --cor-6: #21212b;
  --cor-hover: #29292e;
  font-family: "Merriweather", serif;
  color: var(--texto);
  background-image: url("./assets/bg1.svg"), url("./assets/bg2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  display: inline-block;
}
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
}

main {
  max-width: 60rem;
  width: 100%;
  padding: 6rem 1rem;
  margin: 0 auto;
  min-height: calc(100vh - 10rem);
}

input,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, var(--cor-2), var(--cor-1));
  border-radius: 6px;
  border: 1px solid var(--cor-5);
}
