@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap');

* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
  transition: .1s;
}

body {
  background: #FCFDFA;
  --cor-1: #FF401F;
  --cor-2: #E80C57;
  --cor-3: #E401FF;
  --cor-4: #6D0CE8;
  --texto: #1A1817;
  --cinza: #8D8D8D;
  font-family: 'Merriweather', serif;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='80' height='30' patternTransform='scale(2) rotate(30)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M-20.133 4.568C-13.178 4.932-6.452 7.376 0 10c6.452 2.624 13.036 5.072 20 5 6.967-.072 13.56-2.341 20-5 6.44-2.659 13.033-4.928 20-5 6.964-.072 13.548 2.376 20 5s13.178 5.068 20.133 5.432'  stroke-width='0.5' stroke='hsla(266, 90%, 48%, 0.07)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-206,-132)' fill='url(%23a)'/></svg>")
}

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer
}

main {
  max-width: 60rem;
  width: 100%;
  padding: 6rem 0.8rem;
  margin: 0 auto;
  min-height: calc(100vh - 10rem);
}

input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #FCFDFA;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, var(--cor-2), var(--cor-1));
  border-radius: 6px;
  border:1px solid #FCFDFA
}