.form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  padding: 3rem 0;
  border-bottom: 1px dashed var(--cinza);
  margin-bottom: 3rem
}

@media all and (max-width: 550px) {
  .form {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
  }
}