.header {
  display: flex;
  align-items: center;
  height: 4rem;
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
  padding:0 0.8rem
}

.header > * {
  flex: 1;
}

.nav {
  color: rgba(0, 0, 0, 0.6)
}

.nav a + a {
  margin-left: 1.5rem;
}

.nav a:hover {
  color: rgba(0, 0, 0, 1)
}

.logo {
  text-align: center;
  height: 100%;
  font-weight: 900;
  font-size: 0.875rem;
}

.logo svg {
  width: 5rem;
}

.btnSearch {
  width: 2rem;
  order: 2;
  background: transparent;
  border:none;
}

.btnSearch svg {
  width: 1.3rem;
  fill: rgba(0, 0, 0, 0.3)
}

.btnSearch svg:hover {
  fill: black
}

.searchField {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

@media all and (max-width: 550px) {
  
.logo {
  order: -1
}

.logo svg {
  width: 3.5rem;
}

.header {
  justify-content: space-between;
}

.header > * {
  flex: 0;
}
.searchField div {
  width: calc(100vw - 20px);
  position: absolute;
  right:0
}

.nav {
  flex: 1;
  text-align: center;
  font-size: 0.875rem;
}
}