.header {
  display: flex;
  align-items: center;
  height: 4rem;
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
  padding:0 0.8rem
}

.header > * {
  flex: 1;
}

.nav {
  color: rgba(0, 0, 0, 0.6)
}

.nav a + a {
  margin-left: 1.5rem;
}

.nav a:hover {
  color: var(--cor-4)
}

.header form {
  text-align: right;
}

.header form svg {
  width: 1.5rem;
  fill: var(--cinza)
}

.logo {
  text-align: center;
  height: 100%;
}
.logo svg {
  width: 5rem;
}