.division span,
.country span {
  font-weight: 900;
}

.country,
.division {
  font-size: 0.875rem;
  text-align: center;
  color: var(--cinza)
}

.pop {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pop span {
  font-weight: 900;
  margin-left: 0.3rem;
}

.titulo {
  margin-bottom: 0.2rem;
  text-align: center;
}

.pontosSvg {
  width: 3rem;
  margin: 0 auto;
  display: block;
}

.personSvg {
  width: .8rem;
  margin-right: .5rem;
  fill: var(--texto)
}

.belongs {
  text-align: center;
  margin-top: 4rem;
}

.belongs span {
  font-weight: 900;
}