.main {
  text-align: center;
}

.main h1 {
  max-width: 35rem;
  width: 100%;
  font-size: 3rem;
  margin: 0 auto 2rem auto;
}

.main h1 span {
  color: var(--cor-1)
}

.svgPontos {
  width: 3rem;
  margin-top: 2rem;
}