.form svg {
  width: 1rem;
  fill: rgb(0, 0, 0, 0.3);
  position: absolute;
  top: 0.7rem;
  right: 1rem
}

.form {
  max-width: 30rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.form label {
  position: absolute;
  z-index: -99;
  visibility: hidden;
}

.form input {
  border: 1px solid rgb(0, 0, 0, 0.3);
  background: transparent;
  border-radius: 0.2rem;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  transition: 0.2s;
  outline: none;
}

.form input::placeholder {
  font-size: 0.875rem;
}

.form input:hover, .form input:active {
  border: 1px solid rgb(0, 0, 0, 0.6);
  box-shadow: 0 0 20px 0 rgb(0, 0, 0, 0.05);
}