.searchSvg {
  width: 1rem;
  height: 1rem;
  fill: var(--cinza);
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  z-index: 999;
}

.btnClose {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
}

.btnClose svg {
  position: relative;
  z-index: 9999;
  margin: auto;
  fill: var(--cinza);
  width: 0.8rem;
  top: -2px;
}

.btnClose:hover svg {
  fill: var(--texto);
}

.form {
  position: relative;
}

.form label {
  position: absolute;
  z-index: -99;
  visibility: hidden;
}

.form input::-webkit-search-cancel-button {
  display: none;
}

.results {
  max-width: 30rem;
  max-height: 15rem;
  width: 100%;
  margin: 1rem auto 0 auto;
  overflow: auto;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--cor-6);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  border: 1px solid var(--cor-hover);
  list-style: none;
  transform: translateX(1rem);
  animation: 0.5s animaResults forwards;
}

@keyframes animaResults {
  to {
    transform: translateX(0);
  }
}

.results a {
  padding: 1rem 2rem;
  display: block;
}

.results a:hover {
  background: var(--cor-hover);
}

.formContainer {
  max-width: 30rem;
  width: 100%;
  margin: 0 auto;
}

@media all and (max-width: 550px) {
  .results {
    width: calc(100vw - 2rem);
  }
}
