.button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border-left: none;
  background: var(--cor-5);
  position: relative;
  font-weight: 900;
  margin: 0.2rem 0;
  border: 1px solid var(--cor-hover);
  color: var(--cinza)
}

.button:hover {
  color: var(--texto);
  border-color: var(--texto);
  border-left-color: transparent;
}

.button::before {
  content: '';
  background-image: linear-gradient(180deg, var(--cor-2), var(--cor-1));
  width: 0.3rem;
  height: calc(100% + 2px);
  display: block;
  position: absolute;
  left: 0
}

.ul {
  background-color: #13131a;
  color: var(--cinza);
  overflow: hidden;
  border-left: 1px solid var(--cor-hover);
  border-right: 1px solid var(--cor-hover);
  transition: all 0.7s ease;
}

.ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border: none;
  border-bottom: 1px solid var(--cor-hover);
}

.plusminus {
  font-size: 1.5rem;
  width: 1rem
}

@media all and (max-width: 720px) {
  .article {
    font-size: 0.875rem !important;
  }

  .nameBtn {
    text-align: left;
    margin-right: 1rem;
  }

  .labelItem {
    margin-right: 1.5rem;
  }
}