.bar {
  width: 100%;
  height: 0.5rem;
  background: var(--cor-hover);
  position: relative;
}

.range {
  background-image: linear-gradient(90deg, var(--cor-2), var(--cor-1));
  height: 100%
}

.barscore {
  max-width: 25rem;
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 3rem;
}

.txt {
  position: absolute;
  color: var(--cor-2);
  left: 0;
  top: -1.2rem;
  font-size: 0.875rem;
  font-weight: 400;
}

.score {
  margin-right: 1rem;
  color: var(--cor-2);
  font-weight: 400;
}

@media all and (max-width: 720px) {
  .barscore {
    width: 15rem;
    max-width: 15rem;
    min-width: 15rem;
    margin-right: 1rem;
  }

  .score,
  .txt {
    font-size: 0.7rem;
    margin-right: 0.5rem;
  }

  .txt {
    top: -1rem
  }
}

@media all and (max-width: 430px) {
  .barscore {
    width: 8rem;
    max-width: 8rem;
    min-width: 8rem;
  }
}