
.button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border: 1px solid rgba(0,0,0,0.1);
  border-left: none;
  background: #FCFDFA;
  position: relative;
  font-weight: 900;
  color: rgba(0,0,0,0.6);
  margin: 0.2rem 0;
}

.button:hover {
  color: rgba(0,0,0, 1);
  background: rgba(0,0,0,0.02);

}

.button::before {
  content: '';
  background-image: linear-gradient(180deg, var(--cor-2), var(--cor-1));
  width: 0.3rem;
  height: calc(100% + 2px);
  display: block;
  position: absolute;
  left:0
}

.ul {
  background-color: rgba(0,0,0,0.03);
  color: rgba(0,0,0,0.6);
  overflow: hidden;
  transition: all 0.7s ease;
}

.ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border:none;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.plusminus {
  font-size: 1.5rem;
  width: 1rem
}